body{
    margin: 0;
}
header{
    background-color: #E5E0FF;
    height: 100px;
    width: 100%;
}
nav{
    background-color: #7286D3;
    position: fixed;
    height: 30px;
    width: 100%;
    top: 70px;
}

nav ul li {
    list-style: none;
}


