*{
    margin: 0;
    padding: 0;
}

/* Global */

/* Header */

/* Navbar */

/* Main */

/* Section */

/* Footer */

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Montserrat-Bold';
}

div .container-fluid {
    
}